<web-datepicker
  [(ngModel)]="date"
  ngDefaultControl
  [forceCustom]="false"
  [localeCode]="'sv-SV'"
  (valueChange)="valueChange($event)"
></web-datepicker>

<my-input [(ngModel)]="date" ngDefaultControl></my-input>

<!-- <my-button ngDefaultControl size="small"> Button</my-button> -->
<button (click)="openModal()">Normal button</button>

<web-checkbox [checked]="checkbox" label="This is a label">
  <div class="custom-label" slot="label">
    I am a custom label <a href="">read me please</a>
  </div>
  <div slot="description">
    <div class="custom-description">
      I am a custom description
      <a href="www.google.com" rel="noopener noreferrer" target="_blank"
        >read me please</a
      >
    </div>
  </div>
</web-checkbox>

<my-button>
  Button
  <div slot="end">header</div>
</my-button>

<web-modal [toggle]="toggle" (dimiss)="closeModal()">
  <div slot="header">This is a header</div>
  <div slot="body">This is a body</div>
  <div slot="footer">this is a footer</div>
</web-modal>
